*{
    box-sizing: border-box;
    margin: 0px;
}

/************/
/* HEADER */
/**********/

.nav-wrapper{
    margin: auto;
    text-align: center;

}

.name{
    margin-bottom: 1em;
    padding-top: 1em;
    font-size: xx-large;
    color: black;
    
}

nav{
    height: 340px;
}

 nav li{
    
    background-color:snow;
    border: none;
    /* box-shadow: 3px 5px 0 turquoise; */
    list-style-type: none;
    margin-bottom: 1em;
    margin-right: 2em;
    padding: 1em;
    height: 2.5em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header .wrapper{
    padding-top: 2em;
    margin-bottom: 3.5em;
}

header {
    /* background: linear-gradient(#f3f3f3,transparent); */
    background: linear-gradient( dodgerblue, lightgrey
    ,transparent );
    
}

/*****************/
/* BASE STYLES */
/*****************/
h1,
h3,
ul,
li,
p{
    font-family: 'Gotu', sans-serif;
}

.name,
.footername{
    font-family: 'Marck Script', cursive;
    font-family: 'Lobster', cursive;    }

a{
    display: block;
    text-decoration: none;
    color: black;
}

a:hover{
    color: aqua;
    transition: all 1.5s;  
}

body{
    background:linear-gradient( lightgray,transparent) ;
}

.wrapper{
    /* width: 70%; */
    margin: auto;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

.headerwrap{
    margin: auto;
    text-align: center;
}


.content,
p{
    padding: 1em;
}

#contact,
.portF,
.h3skills{
    margin-top: 7em;
}


.portF{
    margin-top: 8em;
}

img{
    width: 100%;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}  




/******************/
/* FOOTER STYLES */
/****************/

footer{
    margin-top: 3em;
}

.footerbackground{
    background-color: #f3f3f3;
}

footer ul{    
    border-top: solid 2px darkgray;
    margin-top: 4em;
    padding: 2em;
    list-style-type: none;
    display: flex;
    justify-content: space-between;    
}

footer p,
footer h3{
    color: mediumblue;
}

.backtop{
    margin-left: 8em;
}
.skillsli,
.home,
.portfolioli,
.contactli{
    display: none;
}

/* .footerbackground{
    background: linear-gradient(to top, dodgerblue, transparent);
} */

/***********************/
/* Styles for tablets */
/*********************/

@media(min-width:768px){
    
    nav{
        text-align: center;
        height: 200px;
    }
    
    nav li{
        display:inline-block;
        background: none;
        /* margin: 4em auto; */
    }

    a{
        color:white;
        font-size: large;
    }

    .name{
        font-size: xx-large;
    }

    header p{
        margin: 2.5em;
    }

    .profileImg{
        float: right;
        width: 50%;
        margin: 2.5em
    }
   
    .left{
        float: left;
        width: 50%;
    }
   
/***************/
/* FOOTER STYLES */
/*************/


     footer .content{
    width: 70%;
    margin: 5em auto 1em;
    }
    
    footer div{
    margin-top: 7em;
    }

    .skillsli,
    .portfolioli,
    .contactli,
    .home{
        display: unset;
        color: black;
    }

    .footername{
        margin-left: 2em;
        font-size: x-large;
    }

    .home{
        margin-left: 5em;
    }
    
    .contactli{
        margin-right: 1em;
    }

    .backtop{
        display: none;
    }

}

/**********/
/*DESKTOP*/
/********/

@media(min-width:1024px){
    
    nav{
        display: flex;
        justify-content: space-between;
        height: 180px;
       }
    
    nav li{
        margin-top: 1.5em;
    }

    .name{
        margin:.5em 0 0 2em;
        font-size: xx-large;
    }
   .wrapper{
        width:90%;
    }
    

    .left{
        width: 33%;
    }

    footer{
        height: 3em;
    }

    .footername{
        margin-left: 2em;
    }

    .home{
        margin-left: 18em;
    }

    .contactli{
        margin-right: 2em;
    }

    
    

}